:host {
  .custom-image-preview {
    height: 200px;

    img {
      max-height: 100%;
    }

    .image-placeholder {
      background: darkgrey;
      height: 100%;
    }
  }
}

::ng-deep {
  .custom-file-upload {

    .p-fileupload-buttonbar {
      border: none;
      background: none;
      padding: 0;

      .p-button {
        width: 100%;
      }
    }

    .p-fileupload-content {
      display: none;
    }
  }
}
