:host {
  .custom-image-preview {
    //height: 200px;
    display: flex;
    max-width: 100%;
    justify-content: center;

    img {
      max-width: 100%;
    }

    .image-placeholder {
      background-color: var(--surface-ground);
      height: 100%;
      width: 100%;
    }
  }
}

::ng-deep {
  .custom-file-upload {

    .p-fileupload-buttonbar {
      border: none;
      background: none;
      padding: 0;

      .p-button {
        width: 100%;
      }
    }

    .p-fileupload-content {
      display: none;
    }
  }
}
