<div class="card" [formGroup]="form">
  <div class="field">
    <label for="title">Title<span class="text-red-700">*</span>:</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="price">Price<span class="text-red-700">*</span>:</label>
    <input
      id="price"
      type="number"
      formControlName="price"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="brand">Brand<span class="text-red-700">*</span>:</label>
    <input
      id="brand"
      type="text"
      formControlName="brand"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="category">Category<span class="text-red-700">*</span>:</label>
    <input
      id="category"
      type="text"
      formControlName="category"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="description"
      >Description<span class="text-red-700">*</span>:</label
    >
    <textarea
      id="description"
      type="text"
      rows="4"
      formControlName="description"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      style="resize: none"
    ></textarea>
  </div>
  <div class="field mb-0">
    <p-button
      [label]="config.data!.editButtonName"
      styleClass="w-full p-button-sm"
      (click)="submit()"
    ></p-button>
    <p
      class="block mb-0 text-xs text-red-300 opacity-0"
      [class.opacity-100]="isErrorShown"
    >
      Please fill in all required fields
    </p>
  </div>
</div>
